{% if name %}{% extends "baselogin.html" %}{% else %}{% extends "base.html" %}{%endif %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Order Confirmation{% endblock %}

{% block page_content %}
<div class = "page-container d-flex justify-content-center">
    <div class = "card w-75 py-2">
        <div class = "card-body w-75 mx-auto">
            <h1 class = "text-center pb-3">Order Confirmation</h1> 
            <h5 class = "text-center pb-3">Thank you for your purchase for {{ musician }} on {{ date }}. Your seats for the show are: {{ chosenSeats }}</h5>
            <div class = "d-flex flex-column flex-lg-row justify-content-lg-center pb-3">
                <button type = "button" onclick="window.location.href='concerts'" class = "btn btn-secondary btn-lg m-3">Concerts</button>
                <button type = "button" onclick="window.location.href='reservation'" class = "btn btn-secondary btn-lg m-3">Reservations</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}